.playlists-content-container {
  font-family: 'Montserrat', sans-serif;
  color: #fff;
  line-height: 3px;
  max-width: 1480px;
  top: 0px;
  margin-left: 250px;
  background-color: yellow;
}

.playlist-info {

}