// Place all the styles related to the Albums controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// * {
//   box-sizing: border-box;
//   font-family: 'Montserrat';
// }

.album-item-container {
  // width: 85%;
  margin: 0 auto;
  
  // margin-left: 300px;
  // background-color: lightblue;
  // max-width: 1000px;
  // display: flex;
  // flex-direction: column;
  // color: white;
  // font-family: 'Montserrat', sans-serif;
  // line-height: 3px;
  // top: 100px;
  // margin-left: 100px;
  // max-width: 1000px;
}

// .song-item-container {
//   display: flex;
//   flex-direction: column;
//   color: white;
//   font-family: 'Montserrat', sans-serif;
//   line-height: 3px;
//   // padding-top: 20px;
//   // padding-bottom: 20px;
//   // width: 100%;
//   // position: relative;
//   top: 100px;
//   // left: 100px;
//   margin-left: 100px;
//   // background-color: lightblue;
//   max-width: 1000px;
// }

.albums-index-container {
  // display: flex;
  // flex-direction: row;
  font-family: 'Montserrat', sans-serif;
  color: #fff;
  line-height: 3px;
  max-width: 1200px;
  top: 0px;
  margin-left: 75px;
}

.album-item-info {
  width: 200px;
  height: 200px;
  background-color: gray;
  text-align: center;
  margin: 0 auto;
  position: relative;
  
  img {
    width: 200px;
    height: 200px;
  }

  .album-img {
    // height: 100%;
    // width: 100%;
  }

  .album-play-btn {
    color: white;
    visibility: hidden;
    position: absolute;
    font-size: 70px;
    left: 65px;
    top: 60px;
  }
}


.album-item-info:hover {
  .album-img {
    opacity: 0.6;
    filter: alpha(opacity=60);
    cursor: pointer;
  }

  .album-play-btn {
    transition: 1s;
    visibility: visible;
  }
}

.album-play-btn .far fa-play-circle {
  color: white;
  // color: gray;
}

.album-play-btn .far fa-play-circle:hover {
  // color: white;
  // transform: scale(1.10);
  cursor: pointer;
}

.album-play-btn i:hover {
  // color: white;
  transform: scale(1.10);
  cursor: pointer;
}

.album-title {
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
  color: white;

  h3 {
    font-size: 16px;
  }
}


.album-artist {
  font-size: 14px;
  text-decoration: none;
  color: gray;
}

.album-artist:hover {
  color: white;
  text-decoration: underline;
}
