.album-item-container {
  margin: 0 auto;
}

.albums-index-container {
  font-family: 'Montserrat', sans-serif;
  color: #fff;
  line-height: 3px;
  max-width: 1200px;
  top: 0px;
  margin-left: 75px;
}

.album-item-info {
  width: 200px;
  height: 200px;
  text-align: center;
  margin: 0 auto;
  position: relative;
  
  img {
    width: 200px;
    height: 200px;
  }

  .album-img img{
    object-fit: cover;
  }

  .album-play-btn {
    color: white;
    visibility: hidden;
    position: absolute;
    font-size: 70px;
    left: 65px;
    top: 60px;
  }
}


.album-item-info:hover {
  .album-img {
    opacity: 0.6;
    filter: alpha(opacity=60);
    cursor: pointer;
  }

  .album-play-btn {
    transition: 1s;
    visibility: visible;
  }
}

.album-play-btn .far fa-play-circle {
  color: white;
}

.album-play-btn .far fa-play-circle:hover {
  cursor: pointer;
}

.album-play-btn i:hover {
  transform: scale(1.10);
  cursor: pointer;
}

.album-title {
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
  color: white;

  h3 {
    font-size: 16px;
  }
}


.album-artist {
  font-size: 14px;
  text-decoration: none;
  color: gray;
  margin-top: 50px;
}

.album-artist:hover {
  color: white;
  text-decoration: underline;
}
