.artists-main {
  font-family: 'Montserrat', sans-serif;
  color: #fff;
  line-height: 3px;
  max-width: 1480px;
  top: 0px;
  margin-left: 100px;
}

.artist-grid {
  padding-top: 100px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(100px, auto);

  .artist-grid-container {
    border: 1px solid transparent;
    padding: 5%;
    margin: 0 auto;
    height: 100%;
    width: 100%;
  }
  
  .artist-grid-item {
    width: 250px;
    height: 250px;
    background-color: rgba(0,0,0,.5);
  }
  
  .artist-item-info {
    width: 200px;
    height: 200px;
    background-color: gray;

    .artist-play-btn {
      display: none;
      position: relative;
      font-size: 40px;
      margin: 0 auto;	
    }

    .artist-img {
      overflow: hidden;
      height: 100%;
      width: 100%;
    }
  }
}

.artist-grid-item a {
  font-size: 14px;
}

.artist-item-info:hover {
  cursor: pointer;
}

//Artist show page 
.artist-main-container {
  background-color: #181818;
  
  .artist-cover-photo {
    position: absolute;
    width: 100%;
    height: 400px;
    opacity: 0.4;
    object-fit: cover;
   }
  }

  .artist-main-container {
    .artist-cover-photo::after {
     display: block;
     position: relative;
     background-image: linear-gradient(to bottom, transparent 0%, white 100%);
     margin-top: -150px;
     height: 150px;
     width: 100%;
     content: '';
   }
  }

.artist-cover {
  position: relative;
  width: 100%;
  height: 350px;
  display: flex;
  flex-direction: column;
  
  .artist-info {
    margin-left: 230px;
    margin-top: 75px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  h1 {
    font-size: 65px;
    color: white;
  }

  .play-artist-songs-btn {
    color: white;
    background-color: #1DB954;
    height: 35px;
    width: 120px;
    font-size: 12px;
    border-radius: 200px;
    letter-spacing: .03em;
    text-decoration: none;
    justify-content: center;
    align-items: center;
    transition-duration: .3s;
    border: transparent;
  }
}


.play-artist-songs-btn:hover {
  transform: scale(1.05);
  background-color: #1ED760;
  cursor: pointer;
}

.artist-content-container {
  display: flex;
  flex-direction: column;
  margin-left: 250px;
  padding-bottom: 200px;
  
  h2 {
    color: white;
    font-size: 36px;
    margin: 0px 0px 0px 40px
  }

  .artist-song-container {
    margin-top: 50px;
    
    .song-list {
      margin-top: 0;
    }
  }

  .artist-album-container {
    .album-item-container {
      margin-left: 20px;
    }

    .index-item-row {
      padding-top: 0;
    }
  }
}

.artist-img img {
  border-radius: 50%;
  object-fit: cover;
}