.playlists-index-container {
  font-family: 'Montserrat', sans-serif;
  color: #fff;
  line-height: 3px;
  max-width: 1480px;
  top: 0px;
  margin-left: 100px;
}

.playlist-grid {
  padding-top: 100px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(100px, auto);


  .playlist-grid-item {
    background-color: rgba(0,0,0,.5);
    border: 1px solid transparent;
    padding: 5%;
    margin: 0 auto;

    .playlist-item-info {
      width: 200px;
      height: 200px;
    }

    .playlist-play-btn {
      display: none;
      position: relative;
      font-size: 40px;
      margin: 0 auto;	
    }
  }
}

.playlist-grid-item:hover {
  .playlist-item-info {
      opacity: 0.5;
      filter: alpha(opacity=40);
    }

    .playlist-play-btn {
      display: block;
      padding: 35%;
      color: white;
    }
}

