// Place all the styles related to the Songs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.song-item-container {
  display: flex;
  flex-direction: column;
  color: white;
  font-family: 'Montserrat', sans-serif;
  line-height: 3px;
  // padding-top: 20px;
  // padding-bottom: 20px;
  // width: 100%;
  // position: relative;
  top: 100px;
  // left: 100px;
  margin-left: 100px;
  // background-color: lightblue;
  max-width: 1000px;
}

.song-list {
  margin-top: 100px;

  .songlist-row {
    width: 100%;
    transition: .3s;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 60px;

    .left-song-detail {
      display: flex;
      justify-content: row;
    }
  }

  .song-icon-display {
    float: left;
    width: 50px;
  }

  i {
    margin-top: 10px;
  }

  .song-music-btn {
    font-size: 16px;
    color: #b3b3b3;
    margin: 0 auto;
  }

  .song-play-btn {
    position: relative;
    display: none;
  }

  .add-playlist-btn {
    color: white;
    background-color: #1DB954;
    height: 35px;
    width: 50px;
    font-size: 12px;
    border-radius: 200px;
    letter-spacing: .03em;
    text-decoration: none;
    justify-content: center;
    align-items: center;
    transition-duration: .3s;
    border: transparent;
  }
}
.songlist-row:hover {
  background-color: rgba(18, 29, 56, 0.6);
  
  .song-music-btn {
    display: none;
  }

  .song-play-btn {
    position: relative;
    color: #fff;
    transition: .1s;
    opacity: 1;
  }
}

.song-item-info {
  text-align: left;
  float: right;

  h3 {
    color: white;
  }
  
  .song-info {
    color: #b3b3b3;
    font-family: "Montserrat";
    font-size: 13px;
    align-content: left;
  }
  
  .artist-text {
    margin-right: 10px;
  }

  .album-text {
    margin-left: 10px;
  }

  .song-other-info a {
    color: #b3b3b3;
    display: inline-block;
    // text-align: left;
    // justify-content: space-evenly;
  }

  .song-other-info a:hover {
    color: #fff;
    text-decoration: underline;
  }
}

.drop-down-container {
  width: 200px;
  height: 200px;
}


.song-options-container {
  margin-top: 20px;
  margin-right: 100px;
  
  .song-option-btn {
    // font-size: 20px;
    color: white;
    background-color: transparent;
    border: none;
    margin: 0 auto;
  }
  
  .song-option-btn:hover {
    transition: .3s;
  }


  .song-options-dropdown {
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 200px;
    
    .option {
      color: white;
      text-align: left;
      font-size: 14px;
      background-color: rgba(0, 0, 0, 0.6);
      padding: 10px;
      border: none;
    }
  }
}

 .song-option-btn:active {
    outline: none;
    border: none;
  }