// Place all the styles related to the Songs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.song-item-container {
  margin-left: 300px;
  background-color: lightblue;
  max-width: 1000px;
}

.songlist-row {
  
  
  .song-music-btn {
    color: #b3b3b3;
  }

  .song-play-btn {
    display: none;
  }
}

.songlist-row:hover {
  background-color: rgba(18, 29, 56, 0.3);
  
  .song-music-btn {
    display: none;
  }

  .song-play-btn {
    display: #fff;
  }
}