.browse-main {
  background-image: linear-gradient( rgb(59, 127, 149), rgb(22, 34, 24));
  background-repeat: no-repeat;
  background-attachment: fixed;
  padding-bottom: 150px;
  // height: 100vh;
}

.browse-container {
  margin: 0px 0px 0px 250px;
}

.blank-space {
  background-color: transparent;
  height: 35px;
  width: 150px;
  font-size: 12px;
  border-radius: 200px;
  letter-spacing: .03em;
  text-decoration: none;
  margin: 0 auto;
  margin: 15px;
  transition-duration: .3s;
  border: transparent;
}
