.featured-main {
  background-image: linear-gradient( rgb(59, 127, 149), rgb(22, 34, 24));
  left: -25%;
  height: 1500px;
  padding: 0 32px;
  margin: 0 auto;
}

.featured-container {
  left: -25%;
  height: 100%;
  padding: 0 32px;
  margin: 0px 0px 0px 250px;
  max-width: 1600px;
}