.side-header-logo {
  width: 100%;
  height: 20%;
}

.nav-links {
  //FIX ME!! 
  
  // width: 1000px;
  // height: 50px;
  margin-left: 500px;
  background-color: transparent;
  /* position: absolute; */
  /* display: flex; */
  flex-direction: row;
  /* justify-content: center; */
  align-items: center;
  z-index: 4;
}

.nav-links ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-links-link {
  display: inline;
  margin: 0px 25px;
  text-transform: uppercase;
  text-decoration: none;
  color: #999a9c;
  letter-spacing: 0.1em;
  font-size: 12px;
  line-height: 16px;
}

.nav-links-link:hover {
  color: #fff;
  transition: 0.3s;
}

//FIX ME 
.nav-links-link:active {
  color: #fff;
  transition: 0.3s;
  padding-bottom: 4px;
  // border-bottom-width: 2px;
  // margin: 0 auto; /* This will center the border. */
  // width: 50%;
  span {
    background-color: green;
    height: 2px;
    width: 10px;
    margin: 0 auto;
  }
}

.nav-divider {
  background-color: #b3b3b3;
  height: 1px;
  width: 200px;
  margin: 0 auto;
}




