body {
  font-family: Proxima Nova, 'Montserrat', Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 700;
  background: white;
}

a {
  text-decoration: none;
}

.sidenav {
  height: 100%;
  width: 230px;
  position: fixed;
  top: 0;
  left: 0;
  padding-top: 25px;
  background-color: #000;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  z-index: 1;
  /* -webkit-box-orient: vertical;
  -webkit-box-direction: normal; */
  /* background-color: rgba(0,0,0,.8); */
}

.sidenav-header-logo {
  display: block;
  margin: 0 auto;
  
  h3 {
    padding: 0;
    display: block;
    color: white;
    letter-spacing: -0.05em;
    text-decoration: none;
  }

  i {
    display: block;
    color: white;
    font-size: 40px;
  }
}

.sidenav-mid-content {
  text-align: left;
  display: block;
}

.sidenav-links {
  display: block;
  font-size: 16px;

  li {
    list-style: none;
  }

  .links-detail {
    color: #b3b3b3;
  }

  .links-detail:hover{
    color: #FFF;
    cursor: pointer;
    transition: 0.5s
  }

  .sidenav-links-description {
    margin-left: 20px;
    display: inline-block;
  }

  .sidenav-links-library {
    margin-left: 10px;
    display: inline-block;
  }
}

.recently-played {
  height: 200px;
  
  h5 {
    margin-top: 10%;
    color: #b3b3b3;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: .2em;
  }
}

.header-name {
  font-size: 30px;
  font-weight: bold;
  color: yellow;
}