body { 
  margin: 0;
}

.collection-main {
  background-image: linear-gradient(#234666, black);
  background-repeat: no-repeat;
  background-attachment: fixed;
  padding-bottom: 150px;
  height: 100vh;
}

.collection-container {
  margin: 0px 0px 0px 250px;
}


.create-playlist-btn {
  color: white;
  background-color: #1DB954;
  height: 35px;
  width: 150px;
  font-size: 12px;
  border-radius: 200px;
  letter-spacing: .03em;
  text-decoration: none;
  margin: 0 auto;
  margin: 15px;
  transition-duration: .3s;
  border: transparent;
}

.create-playlist-btn:hover {
  transform: scale(1.05);
  background-color: #1ED760;
  color: white;
  cursor: pointer;
}