.index-item-row {
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  justify-content: left;
  margin: 0 45px;
}

.index-item {
  border: 1px solid transparent;
  margin: 15px;
  text-align: center;
  margin-bottom: 75px;
}

.loading-spinner {
  margin-top: 15%;
  margin-left: 50%;
  padding-bottom: 500px;
}
