// FIX ME !!!! - play around with width/height 

.modal-background {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.9);
  font-family: 'Montserrat';
  color: white;
  z-index: 10;
  overflow-y: scroll;
}

.modal-child {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.modal-exit {
  color: white;
  background-color: transparent;
  border: transparent;
  font-size: 50px;
  margin-left: 50%;
}

.modal-exit:active {
  outline: none;
}

.modal-exit:hover {
  transform: scale(1.05);
}

.login-signup-form-container h3 {
  font-size: 60px;
  text-align: center;
}

.playlist-form {
  // width: 100%;
  // height: 100%;
  display: flex;
  flex-direction: column;
  
  label {
    text-align: left;
    width: 100%;
    background-color: #2E2E2E;
  }
  
  h4 {
    margin: 10px 0px 0px 450px;
    font-size: 16px;
  }

}

.text-input-field {
  width: 1680px;
  background-color: 2E2E2E;
}

.playlist-input {
  background-color: #2E2E2E;
  margin-left: 450px;
  color: white;
  text-align: left;
  caret-color: #1DB954;
  border: transparent;
}
 
input{
  font-size: 50px;
  color: white;
  width: 100%;
  height: 100px;
}

input:focus, input:focus{
    outline: none;
}

.playlist-form-btns {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 25px;

  .cancel-playlist-btn {
    background-color: rgba(24,24,24,.7);
    color: white;
    padding: 15px 45px;
    width: 145px;
    height: 45px;
    font-size: 12px;
    font-weight: bold;
    border-radius: 200px;
    letter-spacing: .03em;
    margin: 10px;
  }

  .new-playlist-btn {
    background-color: #1DB954;
    width: 145px;
    height: 45px;
    font-size: 12px;
    font-weight: bold;
    border-radius: 200px;
    letter-spacing: .03em;
    padding: 15px 45px;
    margin: 10px;
  }
}


.cancel-playlist-btn:hover {
  transform: scale(1.05);
  cursor: pointer;
}

.new-playlist-btn:hover {
  transform: scale(1.05);
  background-color: #1ED760;
  color: white;
  cursor: pointer;
}


.song-to-playlist-container {
  h3 {
    font-size: 60px;
    text-align: center;
  }
}