body {
  font-family: Circular, 'Montserrat', Helvetica, Arial, sans-serif;
  background-color: #FFFFFF;
  color: black;
}

.login-form-header {
  margin-top: -25px;
  width: 100%;
  height: 125px;
  border-bottom: 1px solid #D9DADC;
}

.login-logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-logo i {
  font-size: 60px;
}

.login-logo h1 {
  font-size: 42px;
  font-weight: 1000;
  letter-spacing: -0.1em;
}

.login-separator{
  border-bottom: white;
  border-right: white;
  border-left: white;
  width: 410px;
  margin: 0 auto;
}

.login-signup-form {
  width: 500px;
  margin: 0 auto;
}

// make errors appear
.session-errors {
  margin: 0 auto;
  width: 420px;
  list-style: none;
  align-items: center;
  text-align: center;
  color: white;
  font-size: 13px;
  background-color: #f59b23;
  transition: .5s;
}

.session-input-field {
  width: 430px;
  height: 50px;
  border: 1px solid #dfe0e6;
  display: block;
  margin: 0 auto;
  padding: 15px;
  font-size: 14px;
  box-sizing: border-box;
}

.session-input-field::placeholder {
  color: #88898C;
  font-size: 1.5em;
  font-family: arial;
  font-size: 14px;
}

.session-input-field:focus::-webkit-input-placeholder {
  color: #C1C2C6;
  transition-duration: .5s;
}

.submit-row {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 14px;
}

input[type='checkbox'] {
	width: 20px;
	height: 20px;
	margin: 0;
	display: block;
	float: left;
	position: relative;
	cursor: pointer;
}

.session-submit-btn {
  background-color: #1DB954;
  color: white;
  height: 50px;
  width: 275px;
  font-size: 16px;
  font-weight: bold;
  border-radius: 200px;
  letter-spacing: -0.04em;
  text-decoration: none;
  margin: 0 auto;
  margin: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition-duration: .3s;
  border: transparent;
}

.session-submit-btn:hover {
  background-color: #1ED760;
  color: white;
  cursor: pointer;
}

.session-nav-link {
  text-decoration: none;
  color: #2ab759;
}

.session-greeting { 
  text-align: center;
}

#remember {
  border: 1px solid #2ab759;
}

.remember-me label {
  color: #919496;
  size: 10px;
}

.nav-description {
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
}

.demo-btn {
  display: flex;
  align-items: center;
  justify-content: center;
}

.demo-btn button {
  display: block;
  width: 400px;
  height: 50px;
  border-radius: 200px;
  border: transparent;
  background-color: #3B5998;
  margin: 25px;
  color: white;
  font-size: 14px;
  font-weight: bold;
}

.demo-btn button:hover {
  background-color: #3A61B3;
  transition-duration: .3s;
  cursor: pointer;
}

